<div class="container">
    <div class="title">
        <h1>{{currUser?.username}}'s Profile Page</h1>
    </div>
    <section class="profile">
        <article class="user">
            <div class="userSchema" *ngIf="currUser">
                <img [src]="currUser.avatarImg" class="avatarImg" alt="no-avatar">
                <div class="text">
                    <h3>Username: <span>{{currUser?.username}}</span></h3>
                    <h3>Email: <span>{{currUser?.email}}</span></h3>
                </div>
            </div>
        </article>
        <div class="divadded">
            <h1 class="addedcars" *ngIf="currUser?.cars">Added Cars</h1>
            <h1 class="addedcars" *ngIf="!currUser?.cars">No cars added!</h1>
        </div>
    </section>
    <section class="cars" *ngIf="currUser?.cars">
        <ng-container *ngFor="let car of currUser.cars | paginate: { itemsPerPage: 5, currentPage: p }">
           <article>
                <p>{{car.price}}$</p>
                <ng-container *ngIf="car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.imageUrl.includes('http')"> 
                        <img *ngIf="car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} alt="no-img">
                    </div>
                </ng-container>
                <ng-container *ngIf="!car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.carImages[0].imageUrl.includes('http')"> 
                        <img *ngIf="car.carImages[0]?.imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0].imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.carImages[0].imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0]}} alt="no-img">
                    </div>
                </ng-container>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
            </article>
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination" *ngIf="currUser?.cars && currUser?.cars.length > 5">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>