<div class="container">
    <div class="title">
        <h1>Erik's Profile Page</h1>
    </div>
    <!-- <section class="profile">
        <div class="profileCard" *ngIf="currUser">
            <img [src]="currUser.avatarImg" class="avatarImg">
            <div class="userSchema">
                <h3>Username: <span>{{currUser?.username}}</span></h3>
                <h3>Email: <span>{{currUser?.email}}</span></h3>
            </div>
        </div>

    </section>
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
    <!-- <div class="pagination">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div> -->
</div>
