<div class="container">
    <div class="title">
        <h1>Erik's Profile Page</h1>
    </div>
    <section class="profile">
        <article class="user">
            <div class="userSchema" *ngIf="currUser">
                <img [src]="currUser.avatarImg" class="avatarImg" alt="no-avatar">
                <div class="text">
                    <h3>Username: <span>{{currUser?.username}}</span></h3>
                    <h3>Email: <span>{{currUser?.email}}</span></h3>
                </div>
            </div>
        </article>
        <div class="divadded">
            <h1 class="addedcars" *ngIf="currUser?.cars">Added Cars</h1>
            <h1 class="addedcars" *ngIf="!currUser?.cars">No cars added!</h1>
        </div>
    </section>
    <section class="cars">
        <ng-container *ngIf="currUser?.cars">
            <article *ngFor="let car of currUser.cars | paginate: { itemsPerPage: 5, currentPage: p }">
                <p>{{car.price}}$</p>
                <div class="image">
                    <img *ngIf="car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} class="uploadedImage"
                        alt="no-img">
                    <img *ngIf="!car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} alt="no-img">
                </div>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
            </article>
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>