.container{
    /* background-color: #474E68; */
    background-image: url('../../../assets/register.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 5rem);
}
.form {
    border: 2px solid rgb(32, 32, 32);
    border-radius: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    width: 360px;
    /* height: 500px; */
    color: white;
    box-shadow: 15px 15px 25px rgb(32, 32, 32);
}
h1 {
    margin-top: 0.7rem;
    text-align: center;
    /* font-weight: bold; */
}

label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    padding-left: 0.7rem;
}
input {
    width: 20rem;
    height: 1.9rem;
    padding-left: 12px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 0.5rem;
}
input[type="submit"] {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 2rem;
    margin-top: 40px;
    border: none;
    background-color: #fd0000;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
p.error {
    text-align: left;
    color: red;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
P.mainerror {
        text-align: center;
        color: red;
        padding-top: 5px;
        padding-left: 10px;
        font-size: 0.9rem;
        font-weight: bold;
}
p.text {
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;

}
p>a {
    font-weight:lighter ;
    color: #49c1a2;
}
input:disabled {
    border: 1px solid #999999;
  background-color: #cccccc;
  /* color: #666666; */
}