<div class="container">
    <div class="form">
        <h1>Register</h1>
        <form>
            <label>Username</label>
            <input type="text" placeholder="Username..." name="username">
            <label>Email</label>
            <input type="text" placeholder="Email..." name="email">
            <label>Password</label>
            <input type="password" placeholder="Password..." name="password">
            <label>Confirm Password</label>
            <input type="password" placeholder="Repeat Password..." name="rePass">
        </form>
        <input type="submit" value="Register" class="btn">
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</div>
