<div class="container">
    <div class="title">
        <h1>MY CARS FOR SALE</h1>
    </div>
    <!-- TO DO MY PROFILE -->
    <!-- <div class="titles">
        <div class="profile">
            <h1>My Profile</h1>
        </div>
    </div> -->
    <section>
        <article>
            <p>20.000$</p>
            <div class="image">
                <img src="../../../assets/mercedes-amg-e-63-s-4matic-final-edition-2022-5k-5120x3225-8195.jpg" alt="no-img">
            </div>
            <div class="info">
                <h1>Mercedes-AMG E 63 S 4MATIC+</h1>
                <button>Details</button>
            </div>
        </article>
    </section>
</div>
