<div class="container">
       <h2>Car website to find any car you need!</h2>
       <div class="container buttons">
           <a routerLink="/cars">
               <button>All Cars</button>
            </a>
            <ng-container *ngIf="!isLogged">
                <a routerLink="/login">
                   <button>Login</button>
                </a>
                <a routerLink="/register">
                   <button>Register</button>
                </a>
            </ng-container>
       </div>
   </div>
   <div class="top" *ngIf="cars">
      <h1 class="title">TOP 3 most expensive cars</h1>
      <section *ngIf="cars">
        <ng-container *ngFor="let car of cars">
            <article>
                <p>{{car.price}}$</p>
                <div class="image">
                    <img src={{car.imageUrl}} alt="no-img">
                </div>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
           </article>
        </ng-container>
        
      </section>
   </div>

