<div class="container">
       <h2>Car site to find any car you need</h2>
       <div class="container buttons">
           <a routerLink="/all-cars">
               <button>All Cars</button>
            </a>
            <a routerLink="/login">
               <button>Login</button>
            </a>
            <a routerLink="/register">
               <button>Register</button>
            </a>
       </div>
   </div>
   <div class="top">
      <h1>TOP 3 most expensive cars</h1>
      <section>
         <article>
            <p>20.000$</p>
            <div class="image">
                <img src="../../../assets/mercedes-amg-e-63-s-4matic-final-edition-2022-5k-5120x3225-8195.jpg" alt="no-img">
            </div>
            <div class="info">
                <h1>Mercedes-AMG E 63 S 4MATIC+</h1>
                <button>Details</button>
            </div>
        </article>
        <article>
         <p>20.000$</p>
         <div class="image">
             <img src="../../../assets/mercedes-amg-e-63-s-4matic-final-edition-2022-5k-5120x3225-8195.jpg" alt="no-img">
         </div>
         <div class="info">
             <h1>Mercedes-AMG E 63 S 4MATIC+</h1>
             <button>Details</button>
         </div>
     </article>
     <article>
      <p>20.000$</p>
      <div class="image">
          <img src="../../../assets/mercedes-amg-e-63-s-4matic-final-edition-2022-5k-5120x3225-8195.jpg" alt="no-img">
      </div>
      <div class="info">
          <h1>Mercedes-AMG E 63 S 4MATIC+</h1>
          <button>Details</button>
      </div>
  </article>
      </section>
   </div>

