<div class="container">
       <h2>Car website to find any car you need!</h2>
       <div class="container buttons">
           <a routerLink="/cars">
               <button>All Cars</button>
            </a>
            <ng-container *ngIf="!isLogged">
                <a routerLink="/login">
                   <button>Login</button>
                </a>
                <a routerLink="/register">
                   <button>Register</button>
                </a>
            </ng-container>
       </div>
   </div>
   <div class="top" *ngIf="cars">
      <h1 class="title">TOP 3 most expensive cars</h1>
      <section *ngIf="cars">
        <ng-container *ngFor="let car of cars">
            <article>
                <p>{{car.price}}$</p>
                <ng-container *ngIf="car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.imageUrl.includes('http')"> 
                        <img *ngIf="car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} alt="no-img">
                    </div>
                </ng-container>
                <ng-container *ngIf="!car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.carImages[0].imageUrl.includes('http')"> 
                        <img *ngIf="car.carImages[0]?.imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0].imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.carImages[0].imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0]}} alt="no-img">
                    </div>
                </ng-container>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
           </article>
           
        </ng-container>
        
      </section>
   </div>

