div {
    background-image:url(../../../assets/home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 5rem);
}
h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
button {
    background-color: red;
    width: 150px;
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 20px;
    margin-bottom: 80px;
}





