div {
    position:absolute;
    top: 45px;
    bottom: 0px;
    background-image: url(../../../assets/BMW-M4-MAIN-BANNER.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}