<div class="container">
    <div class="title">
        <h1 *ngIf="info">My Profile Info</h1>
        <h1 *ngIf="!info">Loading Info...</h1>
    </div>
    <section>
        <article class="user" *ngIf="info">
            <div class="ipAddress">
                <img src="{{info?.country_flag}}" alt="no-flag">
                {{info?.ip}}
            </div>
            <hr>
            <div class="info">
                <h3>Region: <span>{{info?.region}}</span></h3>
                <h3>Country: <span>{{info?.country}}</span></h3>
                <h3>Continent: <span>{{info?.continent}}</span></h3>
                <h3>Country Phone: <span>{{info?.country_phone}}</span></h3>
                <h3>Internet Provider: <span>{{info?.isp}}</span></h3>
                <h3>Timezone: <span>{{info?.timezone}}</span></h3>
                <h3>Type: <span>{{info?.type}}</span></h3>
                <h3>Currency: <span>{{info?.currency}}</span></h3>
            </div>
        </article>
    </section>

</div>