<div class="header">
    <h2>Cars<span>IT</span></h2>
    <div class="main">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a href="">All Cars</a></li>
            <li><a routerLink="/add">Add Car</a></li>
            <li><a href="">My Profile</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div class="auth">
        <ul>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </div>
</div>
