<div class="header">
    <h2>Cars<span>IT</span></h2>
    <div class="main">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/dictionary">VIN Dictionary</a></li>
            <li><a routerLink="/cars">All Cars</a></li>
            <ng-container *ngIf="isLogged">
                <li><a routerLink="/add">Add Car</a></li>
            </ng-container>
        </ul>
    </div>
    <div class="auth">
        <ul>
            <div class="dropdown" *ngIf="isLogged">
                <button class="dropbtn">Profile. . .</button>
                <div class="dropdown-content">
                    <a routerLink="/profile">My Cars</a>
                    <a routerLink="/favourites-profile">My Favourite Cars</a>
                    <a routerLink="/profile-info">Profile Info</a>
                </div>
            </div>
            <ng-container *ngIf="!isLogged">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ng-container>
            <ng-container *ngIf="isLogged">
                <li><a (click)="logout()">Logout</a></li>
            </ng-container>
        </ul>
    </div>
</div>