.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    height: 3rem;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 10px;
    cursor: pointer;
}
span{
    color: red;
}
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .4s;
}
ul li:hover::after{
    width: 100%;
}