<div class="header">
    <h2>Cars<span>IT</span></h2>
    <div class="main">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/cars">All Cars</a></li>
            <li><a routerLink="/dictionary">Car Dictionary</a></li>
            <ng-container *ngIf="isLogged">
                <li><a routerLink="/add">Add Car</a></li>
                <li><a routerLink="/profile">My Profile</a></li>
            </ng-container>
        </ul>
    </div>
    <div class="auth">
        <ul>
            <ng-container *ngIf="!isLogged">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ng-container>
            <ng-container *ngIf="isLogged">
                <li><a (click)="logout()">Logout</a></li>
            </ng-container>
        </ul>
    </div>
</div>