.container {
    /* background-image: linear-gradient( #8360c3, #2ebf91); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    min-height: calc(100vh - 5.4rem);
}
.title {
    width: 100%;
    height: 60px;
    text-align: center;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
}

.title h1 {
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0 auto;
    margin-top: 20px;
    /* left: 50%; */
    /* top: 17%; */
    /* transform: translate(-50%, -50%); */
    width: 80%;
    height: 70px;
    background-image: linear-gradient(to left, #8e2de2, #4a00e0);
    /* border-radius: 30px; */
    border-radius: 10px;

}
input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    font-size: 1.7rem;
    font-style: italic;
    padding: 5px;
    text-align: center;
}
button {
    /* width: 70px; */
    /* height: 34px; */
    margin-left: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(182, 67, 67);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px 0px 10px 0px;
    
}
button:hover {
    background-color: red;
}
/* article {
    margin: 20px;
    position: relative;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 15px;

} */
.carTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}
.car {
    /* border: 2px solid rgb(32, 32, 32); */
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    /* width: 500px; */
    /* height: auto; */
    color: white;
    /* box-shadow: 15px 15px 25px rgb(32, 32, 32); */
}
h3 {
    margin-top: 25px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
}
span {
    color: rgb(216, 47, 47);
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 740px) {
    input {
        width: 180px;
    }
    button {
        width: 100px;
        font-size: 0.7rem;
    }
    .carTitle {
        font-size: 1rem;
    }
    .info h3 {
        font-size: 1rem;
    }
}