<div class="container">
    <div class="title">
        <h1 *ngIf="cars">CARS FOR SALE</h1>
        <h1 *ngIf="isEmpty">NO CARS ADDED!</h1>
        <h1 *ngIf="!cars">Loading...</h1>
    </div>
    <section *ngIf="cars">
        <ng-container *ngFor="let car of cars | paginate: { itemsPerPage: 10, currentPage: p }">
            <article>
                <p>{{car.price}}$</p>
                <div class="image">
                    <img src={{car.imageUrl}} alt="no-img">
                </div>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
            </article>
            
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="!cars">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>