<div class="container">
    <div class="title">
        <h1 *ngIf="cars">CARS FOR SALE</h1>
        <h1 *ngIf="isEmpty">NO CARS ADDED!</h1>
        <h1 *ngIf="!cars">Loading...</h1>
    </div>
    <section *ngIf="cars">
        <ng-container *ngFor="let car of cars | paginate: { itemsPerPage: 10, currentPage: p }" >
            <article>
                <p>{{car.price}}$</p>
                <ng-container *ngIf="car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.imageUrl.includes('http')"> 
                        <img *ngIf="car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.imageUrl.includes('res.cloudinary.com')" src={{car.imageUrl}} alt="no-img">
                    </div>
                </ng-container>
                <ng-container *ngIf="!car?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="car.carImages[0].imageUrl.includes('http')"> 
                        <img *ngIf="car.carImages[0]?.imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0].imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!car.carImages[0].imageUrl.includes('res.cloudinary.com')" src={{car.carImages[0]}} alt="no-img">
                    </div>
                </ng-container>
                <div class="info">
                    <h1>{{car.make}} {{car.model}}</h1>
                    <button [routerLink]="['/cars', car._id]">Details</button>
                </div>
            </article>
            
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="!cars">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination" *ngIf="cars">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>