<div class="container">
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="form">
        <h1>Add Car</h1>
        <form #form="ngForm" (ngSubmit)="addCar(form, imageUrl)">
            <label>Make</label>
            <input #make="ngModel" ngModel type="text" name="make" required minlength="3" maxlength="15">
            <ng-container *ngIf="make.touched">
                <p class="error" *ngIf="make.errors?.['required']">Make is required!</p>
                <p class="error" *ngIf="make.errors?.['maxlength']">You cannot add more than 15 characters!</p>
                <p class="error" *ngIf="make.errors?.['minlength']">You should have at least 3 characters!</p>
            </ng-container>
            <label>Model</label>
            <input #model="ngModel" ngModel type="text" name="model" required minlength="2" maxlength="10">
            <ng-container *ngIf="model.touched">
                <p class="error" *ngIf="model.errors?.['required']">Model is required!</p>
                <p class="error" *ngIf="model.errors?.['minlength']">You should have at least 2 characters!</p>
                <p class="error" *ngIf="model.errors?.['maxlength']">You cannot add more than 10 characters!</p>
            </ng-container>
            <label>Horsepower</label>
            <input #hp="ngModel" ngModel type="text" name="hp" required pattern="^[0-9]+$">
            <ng-container *ngIf="hp.touched">
                <p class="error" *ngIf="hp.errors?.['required']">Horsepower are required!</p>
                <p class="error" *ngIf="hp.errors?.['pattern']">Horsepower cannot contain any spaces or characters!</p>
            </ng-container>
            <label>ImageUrl</label>
            <input #imageUrl ngModel type="file" accept="image/*" name="imageUrl" required>
            <!-- <input #imageUrl="ngModel" ngModel type="text" name="imageUrl" pattern="^https?://.+" required> -->
            <!-- <img src={{imageUrl.value}}> TO DO -->
            <!-- <ng-container *ngIf="imageUrl.touched">
                <p class="error" *ngIf="imageUrl.errors?.['required']">ImageUrl is required!</p>
                <p class="error" *ngIf="imageUrl.errors?.['pattern']">You must give a URL!</p>
            </ng-container> -->
            <label>Year</label>
            <input #year="ngModel" ngModel type="text" name="year" required min="1950" max="2022" pattern="^[0-9]+$">
            <ng-container *ngIf="year.touched">
                <p class="error" *ngIf="year.errors?.['required']">Year is required!</p>
                <p class="error" *ngIf="year.errors?.['min']">Car year should be newer than 1950's!</p>
                <p class="error" *ngIf="year.errors?.['max']">Car year cannot be in the future!</p>
                <p class="error" *ngIf="year.errors?.['pattern']">Years cannot contain any spaces or characters!</p>
            </ng-container>
            <label>Description</label>
            <input #description="ngModel" ngModel type="text" name="description" required minlength="10" maxlength="50">
            <ng-container *ngIf="description.touched">
                <p class="error" *ngIf="description.errors?.['required']">Description is required!</p>
                <p class="error" *ngIf="description.errors?.['minlength']">Description should have at least 10
                    characters!</p>
                <p class="error" *ngIf="description.errors?.['maxlength']">Description shouldn't have more than 50
                    characters!</p>
            </ng-container>
            <label>Price</label>
            <input #price="ngModel" ngModel type="text" name="price" required pattern="^[0-9]+$">
            <ng-container *ngIf="price.touched">
                <p class="error" *ngIf="price.errors?.['required']">Price is required!</p>
                <p class="error" *ngIf="price.errors?.['pattern']">Price cannot contain any spaces or characters!</p>
            </ng-container>
            <p class="mainError" *ngIf="errors">{{errors}}</p>
            <input [disabled]="form.invalid" type="submit" value="Add Car">
        </form>
    </div>
</div>