<div class="container">
    <div class="form">
        <h1>Add Car</h1>
        <form>
            <label>Make</label>
            <input type="text" name="make">
            <!-- <p class="error">Make is required!</p> -->
            <label>Model</label>
            <input type="text" name="model">
            <!-- <p class="error">Make is required!</p> -->
            <label>ImageUrl</label>
            <input type="text" name="imageUrl">
            <!-- <p class="error">Make is required!</p> -->
            <label>Year</label>
            <input type="text" name="year">
            <!-- <p class="error">Make is required!</p> -->
            <label>Description</label>
            <input type="text" name="description">
            <!-- <p class="error">Make is required!</p> -->
            <label>Price</label>
            <input type="text" name="price">
            <!-- <p class="error">Make is required!</p> -->
        </form>
        <input type="submit" value="Add Car">
    </div>
</div>