<div class="container">
    <div class="form">
        <h1>Add Car</h1>
        <form #form="ngForm" (ngSubmit)="addCar(form)">
            <label>Make</label>
            <input #make="ngModel" ngModel type="text" name="make" required minlength="3">
            <ng-container *ngIf="make.touched">
                <p class="error" *ngIf="make.errors?.['required']">Make is required!</p>
                <p class="error" *ngIf="make.errors?.['minlength']">You should have at least 3 characters!</p>
            </ng-container>
            <label>Model</label>
            <input #model="ngModel" ngModel type="text" name="model" required minlength="2">
            <ng-container *ngIf="model.touched">
                <p class="error" *ngIf="model.errors?.['required']">Model is required!</p>
                <p class="error" *ngIf="model.errors?.['minlength']">You should have at least 2 characters!</p>
            </ng-container>
            <label>ImageUrl</label>
            <input #imageUrl="ngModel" ngModel type="text" name="imageUrl" required>
            <ng-container *ngIf="imageUrl.touched">
                <p class="error" *ngIf="imageUrl.errors?.['required']">ImageUrl is required!</p>
            </ng-container>
            <label>Year</label>
            <input #year="ngModel" ngModel type="text" name="year" required min="1950" max="2022">
            <ng-container *ngIf="year.touched">
                <p class="error" *ngIf="year.errors?.['required']">Year is required!</p>
                <p class="error" *ngIf="year.errors?.['min']">Car year should be newer than 1950's!</p>
                <p class="error" *ngIf="year.errors?.['max']">Car year cannot be in the future!</p>
            </ng-container>
            <label>Description</label>
            <input #description="ngModel" ngModel type="text" name="description" required minlength="10" maxlength="100">
            <ng-container *ngIf="description.touched">
                <p class="error" *ngIf="description.errors?.['required']">Description is required!</p>
                <p class="error" *ngIf="description.errors?.['minlength']">Description should have at least 10 characters!</p>
                <p class="error" *ngIf="description.errors?.['maxlength']">Description shouldn't have more than 100 characters!</p>
            </ng-container>
            <label>Price</label>
            <input #price="ngModel" ngModel type="text" name="price" required min="500">
            <ng-container *ngIf="price.touched">
                <p class="error" *ngIf="price.errors?.['required']">Price is required!</p>
                <p class="error" *ngIf="price.errors?.['min']">Car should be more expensive than 500$!</p>
            </ng-container>
            <input [disabled]="form.invalid" type="submit" value="Add Car">
        </form>
    </div>
</div>